{% extends "seller/base.html" %}

{% block title %}Add Book{% endblock %}

{% block body %}

<p><a href="{% url 'seller:new' %}">Sell an item</a></p>

{% for inventory in inventories %}
{{ inventory.item.title|upper }}<br />
<p>
    Total items in stock {{inventory.total_available_stock}} and sold {{inventory.total_sold}}.
    <a href="{% url 'seller:edit_inventory' inventory.pk %}">To edit the inventory, click here.</a>

</p>
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if inventories.has_previous %}
            <a href="?page={{ inventories.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ inventories.number }} of {{ inventories.paginator.num_pages }}.
        </span>

        {% if inventories.has_next %}
            <a href="?page={{ inventories.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}