{% extends "base/base.html" %}

{% block title %}Manage Addresses{% endblock %}

{% block body %}
<div class="row text-center">
    <div class="col-lg-8">
        <h3>Your Addresses</h3>
    </div>
</div>


{% if deleted %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Address has been deleted
</div>

{% endif %}

<div class="row text-center">
    <div class="col-lg-8">
        <h3><a href="{% url 'accounts:new_address' %}">Add new Address ?</a></h3>
    </div>
</div>


{% for address in addresses %}
<div class="row ">
    <div class="col-lg-8">
        <div class="panel panel-default panel-body">
            <div class="col-lg-3">
                <p>{{address.contact_name}}</p>
            </div>
            <div class="col-lg-6">
                <p>{{address.street_address_line_1}}</p>
                <p>{{address.street_address_line_2}}</p>
                <p>Zipcode: {{address.zipcode}}</p>
                <p>{{address.city_name}}, {{address.state_name}}, {{address.country_name}}</p>
                <p>Phone number: {{address.country_code_phone_number}} {{address.phone_number}}</p>
            </div>
            <div class="col-lg-3">
                <p><a href="{% url 'accounts:edit_address' address.pk %}">Edit this Address?</a></p>
                <p><a href="{% url 'accounts:delete_address' address.pk %}">Delete this Address?</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row text-center">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="col-lg-4">
            <span class="step-links">
        {% if addresses.has_previous %}
            <a href="?page={{ addresses.previous_page_number }}">&larr; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ addresses.number }} of {{ addresses.paginator.num_pages }}.
        </span>

        {% if addresses.has_next %}
            <a href="?page={{ addresses.next_page_number }}">Next &rarr;</a>
        {% endif %}
    </span>
        </div>
    </div>
</div>


<br>
{% endfor %}
{% endblock %}