{% extends "base/base.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}


<form class="form-horizontal" action="{% url 'accounts:change_password' %}" method="post">
    {{ form.non_field_errors }}
    {% csrf_token %}

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.currentPassword.id_for_label }}">Current Password:</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="{{ form.currentPassword.id_for_label }}"
                   placeholder="Current Password" required name = "{{ form.currentPassword.html_name }}"
                   maxlength="20"/>
        </div>
        <div class="col-lg-4">
            {{ form.currentPassword.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.newPassword.id_for_label }}">New Password:</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="{{ form.newPassword.id_for_label }}"
                   placeholder="New Password" required name = "{{ form.newPassword.html_name }}"
                   maxlength="20"/>
        </div>
        <div class="col-lg-4">
            {{ form.newPassword.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.confirmNewPassword.id_for_label }}">Confirm New Password:</label>
        <div class="col-lg-4">
            <input type="password" class="form-control" id="{{ form.confirmNewPassword.id_for_label }}"
                   placeholder="Re-enter New Password" required name = "{{ form.confirmNewPassword.html_name }}"
                   maxlength="20"/>
        </div>
        <div class="col-lg-4">
            {{ form.confirmNewPassword.errors }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-4 col-lg-4">
            <div class="span2">
                <button type="submit" class="btn btn-success btn-block">Change Password</button>
            </div>
        </div>
    </div>


</form>

{% endblock %}
