{% extends "base/base.html" %}

{% block title %}Edit Address{% endblock %}

{% block body %}

<form class="form-horizontal" action="{% url 'accounts:edit_address' form.instance.pk%}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.contact_name.id_for_label }}">Contact Name:</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.contact_name.id_for_label }}" required
                   name = "{{ form.contact_name.html_name }}"
                   maxlength="100" value="{{ form.contact_name.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.contact_name.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.street_address_line_1.id_for_label }}">
            Street Address Line 1:
        </label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.street_address_line_1.id_for_label }}" required
                   name = "{{ form.street_address_line_1.html_name }}"
                   maxlength="100" value="{{ form.street_address_line_1.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.street_address_line_1.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.street_address_line_2.id_for_label }}">
            Street Address Line 2:
        </label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.street_address_line_2.id_for_label }}"
                   name = "{{ form.street_address_line_2.html_name }}"
                   maxlength="100" value="{{ form.street_address_line_2.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.street_address_line_2.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.zipcode.id_for_label }}">
            Zipcode:
        </label>
        <div class="col-lg-4">
            <input type="number" class="form-control" id="{{ form.zipcode.id_for_label }}"
                   name = "{{ form.zipcode.html_name }}"
                   maxlength="10" value="{{ form.zipcode.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.zipcode.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.state_name.id_for_label }}">State:</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.state_name.id_for_label }}" required
                   name = "{{ form.state_name.html_name }}"
                   maxlength="100" value="{{ form.state_name.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.state_name.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.city_name.id_for_label }}">City:</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.city_name.id_for_label }}" required
                   name = "{{ form.city_name.html_name }}"
                   maxlength="100" value="{{ form.city_name.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.city_name.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.country_name.id_for_label }}">Country:</label>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="{{ form.country_name.id_for_label }}" required
                   name = "{{ form.country_name.html_name }}"
                   maxlength="100" value="{{ form.country_name.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.country_name.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.country_code_phone_number.id_for_label }}">
            Country Code for Phone Number:
        </label>
        <div class="col-lg-4">
            <input type="tel" class="form-control" id="{{ form.country_code_phone_number.id_for_label }}" required
                   name = "{{ form.country_code_phone_number.html_name }}"
                   maxlength="5" value="{{ form.country_code_phone_number.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.country_code_phone_number.errors }}
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-lg-4" for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
        <div class="col-lg-4">
            <input type="tel" class="form-control" id="{{ form.phone_number.id_for_label }}" required
                   name = "{{ form.phone_number.html_name }}"
                   maxlength="15" value="{{ form.phone_number.value }}"/>
        </div>
        <div class="col-lg-4">
            {{ form.phone_number.errors }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-offset-4 col-lg-4">
            <div class="span2">
                <button type="submit" class="btn btn-success btn-block"> Update this Address</button>
            </div>
        </div>
    </div>

</form>

{% endblock %}