{% extends "accounts/base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

{% if success %}
<p>Please check your email</p>
{% elif not already_verified %}
<p>Your email was not verified. Please verify first and reset the password. To send the confirmation mail again,
    click <a href="{% url 'accounts:resend_verification_email'%}">here</a>.</p>
{% else %}
<form action="{% url 'accounts:forget_password' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="send" value="Send Confirmation">
    </form>
{% endif %}
{% endblock %}